<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.HAStundenplanApp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".DigitalScheduleMainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ProfileDataActivity" android:label="Meine Daten"/>
        <activity android:name=".SettingsActivity" android:label="Einstellungen"/>
        <activity android:name=".AddLessonActivity" android:label="Unterrichtsstunde hinzufügen"/>
        <activity android:name=".ScheduleActivity" android:label="Stundenplan"/>
        <activity android:name=".AddLessonActivities.LessonNameActivity" android:label="Name der Unterrichtsstunde"/>
        <activity android:name=".AddLessonActivities.TeacherNameActivity" android:label="Name des Lehrers"/>
        <activity android:name=".AddLessonActivities.LocationActivity"
                  android:label="Raum oder Ort der Unterrichtsstunde"/>
        <activity android:name=".AddLessonActivities.LessonTerminationDateActivity"
                  android:label="Letzte Unterrichtsstunde vor den Ferien"/>
        <activity android:name=".AddLessonActivities.AppointmentAmountActivity"
                  android:label="Wie oft hast du diese Unterrichtsstunde pro Woche?"/>
        <activity android:name=".ConfigureScheduleViewActivity" android:label="Stundenplan anpassen"/>
        <activity android:name=".ConfigureScheduleWeekdaysActivity.ChooseLesson"
                  android:label="Titel das Fachs auswählen"/>
        <activity android:name=".ConfigureScheduleWeekdaysActivity.ChooseTeacher"
                  android:label="Name des Lehrers auswählen"/>
        <activity android:name=".ConfigureScheduleWeekdaysActivity.ChooseRoom" android:label="Raum auswählen"/>
        <activity android:name=".ConfigureScheduleWeekdaysActivity.ChoosePeriod"
                  android:label="Wiederholung einer Unterrichtsstunde auswählen"/>
        <activity android:name=".ConfigureScheduleWeekdaysActivity.FragmentPagerSupport" android:label="Stundenplan anpassen"/>
        <activity android:name=".HomeworkActivity" android:label="Hausaufgabe"/>
    </application>
</manifest>
